.App {
    font-family: sans-serif;
    text-align: center;
}

.Quiz {
    font-family: sans-serif;
    text-align: center;
}

.Desktop-1 {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
}

.header {
    position: absolute;
    width: 1440px;
    height: 86px;
    top: 0px;
}

.card {
    position: absolute;
    width: 380px;
    height: 512px;
    left: 530px;
    top: 214px;


    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.card_results {
    position: absolute;
    width: 560px;
    height: 512px;
    left: 440px;
    top: 214px;

    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.result_text{
    /* Результаты профориентационного тестирования */
    position: relative;
    left: 20px;
    top: 23px;

    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;

    color: #000000;

}
.results {

    color: #FFFFFF;
    position: relative;
    top:50px;
    left: 25px;
    border-radius: 8px;
    height: 40px;
    border: #EEEEEE;

    padding-top: 20px;
    padding-left: 10px;
}

.img {
    position: absolute;
    width: 364px;
    height: 364px;
    left: 538px;
    top: 222px;

    background: #FFFFFF;
    border-radius: 8px;
}

.card-text {

    position: absolute;
    width: 340px;
    height: 92px;
    left: 550px;
    top: 606px;

    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;

    color: #000000;

}

.grade {
    position: absolute;
    width: 380px;
    height: 64px;
    left: 530px;
    top: 746px;


    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.stars {
    position: relative;
    font-size: 4.0rem;
    text-align: center;
    top: -16px;
}

#Rectangle-1 {

    position: absolute;
    width: 1440px;
    height: 86px;
    left: 0px;
    top: 0px;

    background: #C4C4C4;

}

#Ellipse-1 {

    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    left: 1310px;
    top: 22px;

    background: #DDDDDD;
}

#Ellipse-2 {

    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    left: 1234px;
    top: 22px;

    background: #DDDDDD;
}