.App {
    font-family: sans-serif;
    text-align: center;
}

.Quiz {
    font-family: sans-serif;
    text-align: center;
}

.Desktop-1 {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.header {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.card {
    position: absolute;
    width: 380px;
    height: 512px;
    left: 530px;
    top: 114px;


    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.card_results {
    position: absolute;
    width: 560px;
    height: 512px;
    left: 440px;
    top: 114px;

    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.result_text {
    /* Результаты профориентационного тестирования */
    position: relative;
    width: 520px;
    left: 20px;
    top: 23px;

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;

    color: #000000;

}
.results {

    color: #FFFFFF;
    position: relative;
    top: 50px;
    left: 25px;
    border-radius: 8px;
    height: 40px;
    border: #EEEEEE;

    padding-top: 20px;
    padding-left: 10px;
}
.img {
    position: absolute;
    width: 364px;
    height: 364px;
    left: 538px;
    top: 122px;

    background: #FFFFFF;
    border-radius: 8px;
}
.card-text {

    position: absolute;
    width: 340px;
    height: 92px;
    left: 550px;
    top: 506px;

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;

    color: #000000;

}
.grade {
    position: absolute;
    width: 380px;
    height: 64px;
    left: 530px;
    top: 646px;


    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.stars {
    position: relative;
    font-size: 4.0rem;
    text-align: center;
    top: -16px;

}
#Rectangle-1 {

    width: 100%;
    height: 8%;

    background: #C4C4C4;

}
#Ellipse-1 {

    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    left: 90%;
    top: 1rem;

    background: #DDDDDD;
}
#Ellipse-2 {

    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    left: 85%;
    top: 1rem;

    background: #DDDDDD;
}
.fade {
    animation: fade-in-keyframes 1s;
}
@keyframes fade-in-keyframes {
    from {opacity: 0}
    to {opacity: 1}
}
.reverse {
    animation-direction: reverse;
}
.normal{
    animation-direction: normal;
}
.particles{
    width: 100%;
    height: 150vh;
    background: #13E8E9;
}
body{
    margin: 0;
    background: #DDDDE0;
}
#root{
    height: 0;
}
.card_options{
    /* Rectangle 44 */


    position: absolute;
    width: 364px;
    height: 330px;
    left: 538px;
    top: 288px;

    background: #FFFFFF;
    border-radius: 8px;
}
.card_option{
    /* Киберспорт */
    position: relative;
    width: 340px;
    height: 56px;
    left: 12px;
    top: 40px;

    cursor: pointer;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}
.card-text2{
    /* Выбери увлечение, которое нравится больше всего */


    position: absolute;
    width: 340px;
    height: 126px;
    left: 550px;
    top: 134px;

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;

    color: #000000;

}
.button_next{
    /* Rectangle 4 */
    position: absolute;
    width: 560px;
    height: 64px;
    top: 530px;

    cursor: pointer;
    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #000000;
}
.registr_title{
    /* Регистрация */
   position: absolute;
    width: 340px;
    height: 126px;
    left: 30px;
    top: 0px;

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;

    color: #000000;
}
.registr_text{
    /* Расписание событий по профориентации для школьников Адмиралтейского района будут доступны после регистрации. Для этого введите свой номер телефона и укажите номер школы. */


    position: absolute;
    width: 340px;
    height: 103px;
    left: 30px;
    top: 108px;

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}
.card-start_text{
     /* Расписание событий по профориентации для школьников Адмиралтейского района будут доступны после регистрации. Для этого введите свой номер телефона и укажите номер школы. */
     position: relative;
     width: 340px;
     height: 99px;
     left: 60px;
     top: 20px;


    vertical-align: center;
     cursor: pointer;
     font-family: Rubik, serif;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;

     color: #000000;
 }
.inner{
position: relative;
    top: 33%;
}
.registr_button {
    /* Rectangle 4 */
    position: absolute;
    width: 380px;
    height: 64px;
    left: 0px;
    top: 450px;

    cursor: pointer;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;

    text-align: center;
    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.registr_button_exit {
    /* Rectangle 4 */
    position: absolute;
    width: 380px;
    height: 64px;
    left: 0px;
    top: 350px;

    cursor: pointer;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;

    text-align: center;
    background: #EEEEEE;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.registr_field1{
    /* Rectangle 44 */


    position: relative;
    width: 80%;
    height: 73px;
    left: 10%;
    top: 244px;
    text-align: center;

    background: #FFFFFF;
    border-radius: 8px;
}
.registr_field2 {
    /* Rectangle 44 */


    position: relative;
    width: 80%;
    height: 73px;
    left: 10%;
    top: 263px;
    text-align: center;

    background: #FFFFFF;
    border-radius: 8px;
}